* {
  box-sizing: border-box;
  }

body {
 background-color: aqua;
 background-image: linear-gradient(aqua,  rgb(66, 61, 61));
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
    }

h1 mark {
border: solid 2px red;
background-color: rgba(255, 255, 255, 0.75);
text-shadow: 1px 1px #ff0000;
padding: 5px;
}

header {
  margin: 0 auto;
  font-size: 40px;
  margin: 10px;
  
        }

.flex-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
 }        

.flex-column {
 height: 100%;
 width: 100%;
  }

.flex-wrap {
 flex-wrap: wrap;
 border: dashed 5px red;
 height: 407px;
 width: 407px;
} 
                  
.square {
 height: 133px;
 width: 133px;
 font-size: 80px;
 text-shadow: 2px 2px #ff0000, 5px 5px 5px white;
 border: solid 2px white;
 padding: 20px;
 text-align: center;
}

#reset {
 text-align: center;
 font-size: 20px;
 border: 2px solid red;
 background-color: rgba(255, 255, 255, 0.65);
 height: 55px;
 width: 100px;
 margin: 30px;
    }